.profile-img {
    height: 150px;
}

.link-icon {
    height: 28px;

}

.map-icon {
    height: 16px;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color: aliceblue;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid rgb(43, 166, 57, 0.19);
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 10px rgba(97, 57, 137, 0.05),
        0px 24px 41px rgba(97, 57, 137, 0.10),
        0px 53px 92px rgba(97, 57, 137, 0.14),
        0px 95px 163px rgba(97, 57, 137, 0.19);
}

.visitenkarten-container{
display: flex;
flex-direction: row;
}

.card-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.card-side-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.social-media-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 16px;
}

.link-icon:hover {
    filter: drop-shadow(0 0 8px green);
}